div.bin {
  border: 1px solid black;
}

div.bin.fulfilled {
  background-color: lightgreen;
}

div.bin.not-fulfilled {
  background-color: pink;
}

.course-in-bin {
  cursor: move;
}

td.schedule-quarter.will-accept {
  background-color: lightgreen;
}

td.schedule-quarter.hover {
  background-color: green;
}
