<!DOCTYPE html>
<html>
  <head>
    <title>Interactive Scheduler</title>
    
    <link rel="stylesheet" href="/assets/css/application.css" type="text/css" media="screen" charset="utf-8">
    <script src="/assets/js/application.js" type="text/javascript" charset="utf-8"></script>
    
  </head>
  <body class="container-fluid">
    <h1>Interactive Scheduler</h1>
    <hr/>
    <div class="row" id="scheduler-app">
      <div class="span9"id="schedule-view-container">
      </div>
      <div class="span5" id="objectives-view-container">
      </div>
    </div>
    <!-- Templates -->
    <script type="text/template" id="schedule-template">
      <% _.each(_.range(4), function(year) { %>
        <tr class="schedule-year row">
        </tr>
      <% }) %>
    </script>
    <script type="text/template" id="quarter-template">
      <ul class="quarter-course-list">
        <% _.each(courses, function(course) { %>
          <li class="course-in-quarter"><%- course.title %></li>
        <% }) %>
      </ul>
    </script>
    <script type="text/template" id="bin-template">
      <% var id=parseInt(Math.random()*10000)%>
      <a class="accordion-toggle" data-toggle="collapse" data-parent="" href="#<%=id%>" >
        <% if(title != null) { %>
          <h6><div class="bin-title bin-info row"><i class="icon-plus-sign"></i><%= title %>
        <% }else{ %> <div class="bin-info row"><i class="icon-minus-sign"></i> <% } %>
        
         <span class="bin-stats"></span></h6>
        </div>
      </a>
      <ul class="bin-items unstyled" id=<%=id%> ></ul>
    </script>
    <script type="text/template" id="objective-template">
      <div class="objective-name"><%= title %> Major <span class="bin-stats label label-info">p of q?</span>
      <div class="objective-bin"></div>
    </script>
    <script type="text/template" id="objectives-list-template">
      <div class="objectives-header">Your Objectives</div>
      <ul></ul>
    </script>
  </body>
</html>
